body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #494949;
}
@media screen and (max-width: 1255px){
    #team-pfm-01{
        display: none;
    }
}
@media screen and (max-width: 1077px){
    #team-info{
        display: none !important;
    }
    #header-line-01{
        display: none;
    }
    #team-pfm-02{
        padding-left: 0px !important;
    }
}
@media screen and (max-width:767px){
    .user-kpi-view{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    #team-view-header{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .ava-link{
        padding: 0px !important;
    }
    .team-view-ava-header{
        margin-left: 0px !important;
    }
    .header-line{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    #user-name-header{
        width: 100px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #add-user-button{
        float: right !important;
        background-color: #6d9c12 !important;
    }
    #add-user-text{
        display: none;
    }
    .user-status{
        display: none !important;
    }
    .user-name-kpi{
        width: 175px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .percent-note{
        font-size: 8pt !important;
        padding-top: 5px !important;
    }
    .bar-group{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .user-perfoment{
        font-size: 15pt !important;
        padding-top: 23px !important;
    }
}
.team-view-ava-header{
    width: 50px;
    height: auto;
    border-radius: 27px;
    margin: 5px;
    margin-left: 0xp;
    float: left;
}
.ava-box{
    float: left;
}
.ava-link{
    padding: 5px;
}
.ava-link:hover{
    text-decoration: none;
}
#user-name-header{
    font-size: 12pt;
    color: #494949;
    font-weight: 700;
    float: left;
    padding-top: 21px;
}
.header-line{
    height: 64px;
    width: 1px;
    border-left: 1px #fff solid;
    border-right: 1px #d9d9d9 solid;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
#team-info{
    padding-top: 7px;
    float: left;
}
#add-user-text{
    padding-left: 5px;
}
#team-info-title{
    font-size: 12pt;
    font-weight: 700;
}
#team-info-title-02{
    font-size: 12pt;
    color: #0082ad;
}
#team-pfm{
    float: left;
    padding-top: 13px;
}
#team-pfm-01{
    font-size: 12pt;
    font-weight: 700;
    vertical-align: middle;
}
#team-pfm-02{
    font-size: 20pt;
    vertical-align: middle;
    font-weight: 700;
    padding-left: 15px;
}
.good{
    color: #6d9c12;
}
#add-user-button{
    float: left;
    background-color: #ccc;
    color: #fff;
    margin-top: 12px;
    padding: 10px 15px;
    cursor: pointer;
}
#add-user-button:hover{
    background-color: #6d9c12;
}
#team-view-search{
    margin-top: 15px;
}
.input-group{
    padding-top: 10px;
    width: 100%;
}
.input-group:first-child{
    padding-top: 0px;
}
.input-group-addon{
    width: 20%;
    text-align: left;
}
.ipt{
    font-weight: 700;
}
.add-user-note{
    color: #8d8d8d;
    border-top: 1px #ccc solid;
    margin-top: 15px;
    padding-top: 10px;
}
.user-kpi-view{
    background-color: #fbfbfb;
    border: 1px #bcbcbc solid;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
    height: 150px;
    margin-top: 30px;
}
.kpi-view-ava{
    width: 82px;
    height: auto;
    border-radius: 41px;
    margin: 15px;
    margin-bottom: 10px;
}
.team-view-button-email{
    background-color: #008eb7;
    width: 41px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 5px 0px;
    margin-left: 10px;
    border-bottom: 1px #005c77 solid;
}
.team-view-button-view{
    background-color: #6d9c12;
    width: 41px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 5px 0px;
    margin-left: 10px;
    border-bottom: 1px #456900 solid;
}
.ava-button{
    display: inline-block;
    position: absolute;
}
.user-kpi-info{
    width: 100%;
    padding-left: 122px;
    padding-right: 15px;
}
.big-bar{
    border-radius: 7px;
    height: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.user-name-kpi{
    margin-top: 5px;
    font-size: 12pt;
    font-weight: 700;
    display: inline-block;
    float: left;
}
.user-status{
    display: inline-block;
    float: right;
    font-size: 12pt;
    color: #8d8d8d;
    margin-top: 5px;
}
.bar-group{
    width: 80%;
    background-color: #f1f1f1;
    padding: 10px;
    padding-bottom: 2px;
    float: left;
    border-left: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.mini-bar{
    height: 8px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.bar-group .mini-bar:first-child{
    margin-top: 0px;
}
.user-perfoment{
    width: 20%;
    float: left;
    font-size: 32pt;
    padding-top: 8px;
    font-weight: 700;
    text-align: center;
    color: #939393;
}
.percent-50{
    width: 50%;
    text-align: right;
    float: left;
    padding-right: 5px;
}
.percent-75{
    width: 25%;
    text-align: right;
    float: left;
    padding-right: 5px;
}
.percent-100{
    width: 25%;
    text-align: right;
    float: left;
    padding-right: 5px;
}
.percent-note{
    padding-top: 2px;
    font-size: 10pt;
}
.line-50{
    width: 50%;
    border-right: 1px #ccc solid;
    height: 77px;
    float: left;
}
.line-75{
    width: 25%;
    border-right: 1px #ccc solid;
    height: 77px;
    float: left;
}
.line-100{
    width: 25%;
    border-right: 1px #ccc solid;
    height: 77px;
    float: left;
}
.percent-line{
    position: absolute;
    width: 100%;
    top: -10px;
}
.bar-info-box{
    position: relative;
}
.big-bar .progress-bar-success{
    background-color: #939393;
}


.color-50-mini{
    background-color: #d69999;
}
.color-75-mini{
    background-color: #e1cc8b;
}
.color-100-mini{
    background-color: #a1b974;
}

.color-100-big:hover .big-bar .progress-bar{
    background-color: #6d9c12;
}
.color-100-big:hover .user-perfoment{
    color: #6d9c12;
}
.color-75-big:hover .big-bar .progress-bar{
    background-color: #ecc241;
}
.color-75-big:hover .user-perfoment{
    color: #ecc241;
}
.color-50-big:hover .big-bar .progress-bar{
    background-color: #d65d5d;
}
.color-50-big:hover .user-perfoment{
    color: #d65d5d;
}
/*notification */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-block-transitions {
    transition: 0s all !important;
    -webkit-transition: 0s all !important;
}

/* show the element during a show/hide animation when the
 * animation is ongoing, but the .ng-hide class is active */
.ng-hide-add-active, .ng-hide-remove {
    display: block !important;
}

.modal#add-user li label {
    width: 120px;
    font-size: 16px;
    fort-weight: bold;
    list-style-type: none;
}
.modal#add-user li input {
    width: 60%;
    padding: 5px;
    padding-left: 10px;
    font-size: 14px;
}
.modal#add-user li {
    margin-bottom: 10px;
}
.modal#add-user ul.items {
    list-style-type: none;
}
.modal#add-user .errorlist {
    color: red;
    margin-left: 120px;
}
@media (min-width: 768px) {
    .modal-md {
        width: 460px;
    }
}
label.error{
    display: none;
    margin-left: 25%;
    font-weight: normal;
    color: red;
    font-size: 12px;
}
.form-horizontal.v5-form .control-label {
    font-weight: normal;
    color: #666666;
    text-align: left;
    font-size: 14px;
    left: 15px;
}
.v5-form .form-control {
    border: solid 1px #ababab;
}
.error-msg{
    color: #d9534f;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}
.no-border{
    border: none !important;
}
.my-title {
    font-weight: bold;
}